<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>frontend</title>
  </head>
  <body>
 <h1>This is front end</h1>
<a href="/Nwu">
 <div class="Uni-div">
   <img src="" alt="logo" class="image">
     <div class="text">
         <span class="course-text">Total Courses</span>
         <p class="number">5</p>
         <p class="aps-text">Aps</p>
         <p class="aps-number">30</p>
     </div>

 </div>
 </a>
 <div class="UP-div">
   <img src="" alt="logo" class="image">
     <div class="text">
         <span class="course-text">Total Courses</span>
         <p class="number">5</p>
         <p class="aps-text">Aps</p>
         <p class="aps-number">30</p>
     </div>

 </div>
  </body>
</html>
