<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
 <link rel="stylesheet" href="css/styles.css">
     <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com//ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <title>Test</title>
  </head>
  <body>
      <div class="card body-div" style="width:18rem;">
        <div class="card-body">
          <div class="">
              <h5 class="card-title">Botany </h5>
          </div>

          <hr>
          <p class="card-text">School : NWU</p>

          <p class="card-text">Aps : 23 </p>
          <p class="card-text">Faculty : Science</p>
        </div>
      </div>
      <div class="">

      </div>

<div class="container-triangle">

</div>
<div class="course-block">
 <li class="fa fa-car" style="color:white;"></li>
 <li class="fa fa-graduation-cap fa-lg" style="color:white;"></li>
 <li class="fa fa-university fa-5x" style="color:white;"></li>

</div>
<div class="result-block">
  <p class="div-text">Courses</p>
 <li class="fa fa-graduation-cap fa-2x icon-grad" style="color:white;"></li>
 <span class="number-div">4 </span>
</div>


<form class="" action="/test" method="post">
  <!-- Home Language -->
  <select class="language" name="HL">
    <option value="Afrikaans_FAL">Afrikaans FAL</option>
    <option value="English_SAL">English FAL</option>
    <option value="Isindebele_FAL">IsiNdebele FAL</option>
    <option value="IsiXhosa_FAL">IsiXhosa FAL</option>
    <option value="option1">IsiZulu FAL</option>
    <option value="option1">Setswana FAL</option>
    <option value="option1">Tshivenda FAL</option>
    <option value="option1">Xitsonga FAL</option>
 </select>

 <select class="" name="hl_Mark">
   <option value="8">(90-100%)</option>
   <option value="7">(80-89%)</option>
   <option value="6">(70-79%)</option>
   <option value="5">(60-69%)</option>
   <option value="4">(50-59%)</option>
   <option value="3">(40-49%)</option>
   <option value="2">(30-39%)</option>
   <option value="1">(0-29%)</option>
 </select>

<!-- First Additional Language -->

 <select class="language" name="FAL">
   <option value="Afrikaans_FAL">Afrikaans FAL</option>
   <option value="English_SAL">English FAL</option>
   <option value="Isindebele_FAL">IsiNdebele FAL</option>
   <option value="IsiXhosa_FAL">IsiXhosa FAL</option>
   <option value="option1">IsiZulu FAL</option>
   <option value="option1">Setswana FAL</option>
   <option value="option1">Tshivenda FAL</option>
   <option value="option1">Xitsonga FAL</option>
</select>
<select class="" name="fal_Mark">
  <option value="8">(90-100%)</option>
  <option value="7">(80-89%)</option>
  <option value="6">(70-79%)</option>
  <option value="5">(60-69%)</option>
  <option value="4">(50-59%)</option>
  <option value="3">(40-49%)</option>
  <option value="2">(30-39%)</option>
  <option value="1">(0-29%)</option>
</select>
<!-- Mathematics -->
<select class="language" name="Maths">
  <option value="maths" name="maths">Mathematics</option>
  <option value="mathsL" name ="math_Lit">Mathematical Literacy</option>
</select>
<select class="" name="math_Mark">
  <option value="8">(90-100%)</option>
  <option value="7">(80-89%)</option>
  <option value="6">(70-79%)</option>
  <option value="5">(60-69%)</option>
  <option value="4">(50-59%)</option>
  <option value="3">(40-49%)</option>
  <option value="2">(30-39%)</option>
  <option value="1">(0-29%)</option>
</select>

<!-- Other subject 1 -->
<select class="language" name="other1">
  <option value="ABRSM_Practical_Music_Grade_7">ABRSM Practical Music Grade 7</option>
  <option value="Accounting">Accounting</option>
  <option value="Afrikaans_SAL">Afrikaans SAL</option>
  <option value="Agricultural_Management_Practices">Agricultural Management Practices</option>
  <option value="Agricultural_Sciences">Agricultural Sciences</option>
  <option value="Agricultural_Technology">Agricultural Technology</option>
  <option value="Arabic_SAL">Arabic SAL</option>
  <option value="Business_Studies">Business Studies</option>
  <option value="Chiness_A-Level">Chiness A-Level</option>
  <option value="option1">Civil Technology</option>
  <option value="CAT">CAT</option>
  <option value="Consumer_Studies">Consumer Studies</option>
  <option value="option1">Dance Studies</option>
  <option value="option1">Design</option>
  <option value="option1">Dramtic Arts</option>
  <option value="economics">Economics</option>
  <option value="egd">EGD</option>
   <option value="English_SAL">English SAL</option>
   <option value="option1">Equine studies</option>
   <option value="option1">French SAL</option>
   <option value="option1">Geography</option>
   <option value="option1">German HL</option>
   <option value="option1">German SAL</option>
   <option value="option1">Gujarati SAL</option>
    <option value="option1">Hebrew SAL</option>
    <option value="">Hindi FAL</option>
    <option value="">Hindi SAL</option>
    <option value="">History</option>
    <option value="">Hospitality Studies</option>
    <option value="">Information Technology</option>
    <option value="">IsiXhosa SAL</option>
    <option value="">IsiNdebele SAL</option>
    <option value="">IsiZulu SAL</option>
    <option value="">Italian SAL</option>
    <option value="">Latin SAL</option>
    <option value="">Life Sciences</option>
    <option value="">Maritime Economics</option>
    <option value="">Machanical Technology</option>
    <option value="">Morden Greek SAL</option>
    <option value="">Music</option>
    <option value="">Nautical Science</option>
    <option value="">Physical Science</option>
    <option value="">Portuguese SAL</option>
    <option value="">Religion Studies</option>
    <option value="">Sepedi SAL</option>
    <option value="">Sesotho SAL</option>
    <option value="">Setswana SAL</option>
    <option value="">Spanish SAL</option>
    <option value="">Sport and Exercise Science</option>
    <option value="">Tamil FAL</option>
    <option value="">Tamil SAL</option>
    <option value="">TCL Practical Music Grade 7<option>
    <option value="">Telegu SAL</option>
    <option value="">Tourism</option>
    <option value="">UNISA Practical Music Grade 7</option>
    <option value="">Urdu FAL</option>
    <option value="">Urdu SAL</option>
    <option value="">Visual Arts</option>
    <option value="">Xitsonga SAL</option>
</select>
<select class="" name="other1_Mark">
  <option value="8">(90-100%)</option>
  <option value="7">(80-89%)</option>
  <option value="6">(70-79%)</option>
  <option value="5">(60-69%)</option>
  <option value="4">(50-59%)</option>
  <option value="3">(40-49%)</option>
  <option value="2">(30-39%)</option>
  <option value="1">(0-29%)</option>
</select>

<!-- Other subject 2 -->
<select class="language" name="other2">
  <option value="ABRSM_Practical_Music_Grade_7">ABRSM Practical Music Grade 7</option>
  <option value="Accounting">Accounting</option>
  <option value="Afrikaans_SAL">Afrikaans SAL</option>
  <option value="Agricultural_Management_Practices">Agricultural Management Practices</option>
  <option value="Agricultural_Sciences">Agricultural Sciences</option>
  <option value="Agricultural_Technology">Agricultural Technology</option>
  <option value="Arabic_SAL">Arabic SAL</option>
  <option value="Business_Studies">Business Studies</option>
  <option value="Chiness_A-Level">Chiness A-Level</option>
  <option value="option1">Civil Technology</option>
  <option value="CAT">CAT</option>
  <option value="Consumer_Studies">Consumer Studies</option>
  <option value="option1">Dance Studies</option>
  <option value="option1">Design</option>
  <option value="option1">Dramtic Arts</option>
  <option value="economics">Economics</option>
  <option value="egd">EGD</option>
   <option value="English_SAL">English SAL</option>
   <option value="option1">Equine studies</option>
   <option value="option1">French SAL</option>
   <option value="option1">Geography</option>
   <option value="option1">German HL</option>
   <option value="option1">German SAL</option>
   <option value="option1">Gujarati SAL</option>
    <option value="option1">Hebrew SAL</option>
    <option value="">Hindi FAL</option>
    <option value="">Hindi SAL</option>
    <option value="">History</option>
    <option value="">Hospitality Studies</option>
    <option value="">Information Technology</option>
    <option value="">IsiXhosa SAL</option>
    <option value="">IsiNdebele SAL</option>
    <option value="">IsiZulu SAL</option>
    <option value="">Italian SAL</option>
    <option value="">Latin SAL</option>
    <option value="">Life Sciences</option>
    <option value="">Maritime Economics</option>
    <option value="">Machanical Technology</option>
    <option value="">Morden Greek SAL</option>
    <option value="">Music</option>
    <option value="">Nautical Science</option>
    <option value="">Physical Science</option>
    <option value="">Portuguese SAL</option>
    <option value="">Religion Studies</option>
    <option value="">Sepedi SAL</option>
    <option value="">Sesotho SAL</option>
    <option value="">Setswana SAL</option>
    <option value="">Spanish SAL</option>
    <option value="">Sport and Exercise Science</option>
    <option value="">Tamil FAL</option>
    <option value="">Tamil SAL</option>
    <option value="">TCL Practical Music Grade 7<option>
    <option value="">Telegu SAL</option>
    <option value="">Tourism</option>
    <option value="">UNISA Practical Music Grade 7</option>
    <option value="">Urdu FAL</option>
    <option value="">Urdu SAL</option>
    <option value="">Visual Arts</option>
    <option value="">Xitsonga SAL</option>
</select>
<select class="" name="other2_Mark">
  <option value="8">(90-100%)</option>
  <option value="7">(80-89%)</option>
  <option value="6">(70-79%)</option>
  <option value="5">(60-69%)</option>
  <option value="4">(50-59%)</option>
  <option value="3">(40-49%)</option>
  <option value="2">(30-39%)</option>
  <option value="1">(0-29%)</option>
</select>

<!-- Other subject 3 -->
<select class="language" name="other3">
  <option value="ABRSM_Practical_Music_Grade_7">ABRSM Practical Music Grade 7</option>
  <option value="Accounting">Accounting</option>
  <option value="Afrikaans_SAL">Afrikaans SAL</option>
  <option value="Agricultural_Management_Practices">Agricultural Management Practices</option>
  <option value="Agricultural_Sciences">Agricultural Sciences</option>
  <option value="Agricultural_Technology">Agricultural Technology</option>
  <option value="Arabic_SAL">Arabic SAL</option>
  <option value="Business_Studies">Business Studies</option>
  <option value="Chiness_A-Level">Chiness A-Level</option>
  <option value="option1">Civil Technology</option>
  <option value="CAT">CAT</option>
  <option value="Consumer_Studies">Consumer Studies</option>
  <option value="option1">Dance Studies</option>
  <option value="option1">Design</option>
  <option value="option1">Dramtic Arts</option>
  <option value="economics">Economics</option>
  <option value="egd">EGD</option>
   <option value="English_SAL">English SAL</option>
   <option value="option1">Equine studies</option>
   <option value="option1">French SAL</option>
   <option value="option1">Geography</option>
   <option value="option1">German HL</option>
   <option value="option1">German SAL</option>
   <option value="option1">Gujarati SAL</option>
    <option value="option1">Hebrew SAL</option>
    <option value="">Hindi FAL</option>
    <option value="">Hindi SAL</option>
    <option value="">History</option>
    <option value="">Hospitality Studies</option>
    <option value="">Information Technology</option>
    <option value="">IsiXhosa SAL</option>
    <option value="">IsiNdebele SAL</option>
    <option value="">IsiZulu SAL</option>
    <option value="">Italian SAL</option>
    <option value="">Latin SAL</option>
    <option value="">Life Sciences</option>
    <option value="">Maritime Economics</option>
    <option value="">Machanical Technology</option>
    <option value="">Morden Greek SAL</option>
    <option value="">Music</option>
    <option value="">Nautical Science</option>
    <option value="">Physical Science</option>
    <option value="">Portuguese SAL</option>
    <option value="">Religion Studies</option>
    <option value="">Sepedi SAL</option>
    <option value="">Sesotho SAL</option>
    <option value="">Setswana SAL</option>
    <option value="">Spanish SAL</option>
    <option value="">Sport and Exercise Science</option>
    <option value="">Tamil FAL</option>
    <option value="">Tamil SAL</option>
    <option value="">TCL Practical Music Grade 7<option>
    <option value="">Telegu SAL</option>
    <option value="">Tourism</option>
    <option value="">UNISA Practical Music Grade 7</option>
    <option value="">Urdu FAL</option>
    <option value="">Urdu SAL</option>
    <option value="">Visual Arts</option>
    <option value="">Xitsonga SAL</option>
</select>
<select class="" name="other3_Mark">
  <option value="8">(90-100%)</option>
  <option value="7">(80-89%)</option>
  <option value="6">(70-79%)</option>
  <option value="5">(60-69%)</option>
  <option value="4">(50-59%)</option>
  <option value="3">(40-49%)</option>
  <option value="2">(30-39%)</option>
  <option value="1">(0-29%)</option>
</select>
 <button type="submit" name="button">Submit</button>
</form>
<form class="item" action="/" method="post">
       <input type="text" name="mark1" placeholder="New Item" autocomplete="off">
       <input type="text" name="mark2" placeholder="New Item" autocomplete="off">
       <input type="text" name="mark3" placeholder="New Item" autocomplete="off">
       <input type="text" name="mark4" placeholder="New Item" autocomplete="off">
       <input type="text" name="mark5" placeholder="New Item" autocomplete="off">
       <input type="text" name="mark6" placeholder="New Item" autocomplete="off">
       <button type="submit" >+</button>
     </form>

     <div class="Uni-div">
<h1>5</h1>
     </div>
  </body>
</html>
